# Database (Neon PostgreSQL)
DATABASE_URL=postgresql://user:password@ep-sample.us-east-2.aws.neon.tech/bhusamanvay?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://user:password@ep-sample.us-east-2.aws.neon.tech/bhusamanvay?sslmode=require

# Better Auth
BETTER_AUTH_SECRET=your-secret-key-min-32-chars-long-for-encryption
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000


# S3 / Object Storage
AWS_ENDPOINT_URL_S3=https://storage.googleapis.com # or https://fly.storage.tigris.dev / https://s3.amazonaws.com
AWS_REGION=auto
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

# Logging
LOG_LEVEL=debug
